@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Alegreya');
/* Set CSS rules for the navigation bar for mobile devices. */
@media only screen and (max-width: 600px) {
    #article-wrapper {
        height: 100vh;
    }

    #article-wrapper a, 
    #article-wrapper a:link,
    #article-wrapper a:hover,
    #article-wrapper a:visited {
                text-decoration: none;
        font-weight: bold;
        cursor: help;
        color: #173261;
    }

    h1 {
        font-family: 'Alegreya', serif;
        font-size: 24px;
        color: #173261;
        font-weight: bold;
        text-transform: uppercase;
        text-align: justify;
    }

    p {
        margin: 0% 0% 5% 0%;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #4D6E8C;
        text-align: justify;
    }

    .article-button {
        color: #fff;
        background-color: #173261;
        padding: 10%;
        margin: 15% 0% 0% 0%;
        width: 100%;
        border-radius: 100px;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
    }

    #article-image-right {
        display: none;
    }

    #article-image-left {
        display: none;
    }
}

/* Set CSS rules for the navigation bar for desktop devices. */
@media only screen and (min-width: 768px) {
    #article-wrapper {
        width: 100%;
        height: 100vh;
    }

    /* Style the article tag throughout the site. */
    #align-article-left {
        position: relative;
        float: left;
        width: 45%;
        height: 100vh;
        overflow: hidden;
    }

    #align-article-right {
        position: relative;
        float: right;
        width: 50%;
        height: 100vh;
        margin: 0 auto;
    }

    .article-body-left {
        margin: 0% 0% 0% 2%;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #4D6E8C;
        width: 50%;
        height: 100vh;
    }

    .article-body-right {
        margin: 0% 0% 0% 0%;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #4D6E8C;
        width: 50%;
        height: 100vh;
    }

    .article-body-left a, 
    .article-body-right a,
    .article-body-left a:hover, 
    .article-body-right a:hover,
    .article-body-left a:visited, 
    .article-body-right a:visited {
        text-decoration: none;
        font-weight: bold;
        cursor: help;
        color: #173261;
    }

    .article-body-left h1, 
    .article-body-right h1 {
        font-family: 'Alegreya', serif;
        font-size: 48px;
        color: #173261;
        font-weight: bold;
        text-transform: uppercase;
        text-align: justify;
    }

    .article-body-left p,
    .article-body-right p {
        text-align: justify;
    }

    /* Style buttons in articles throughout the site. */
    .article-button {
        color: #fff;
        background-color: #173261;
        padding: 10px;
        margin: 5% 0% 0% 0%;
        width: 200px;
        border-radius: 50px;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: bold;
        cursor: help;
    }

    .article-button a,
    .article-button a:link, 
    .article-button a:hover, 
    .article-button a:visited {
        color: #fff;
        background-color: #173261;
        padding: 10px;
        margin: 5% 0% 0% 0%;
        width: 200px;
        border-radius: 50px;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    /* Style images in the article tag throughout the site. */
    #article-image-right {
        position: absolute;
        float: right;
        width: 50%;
    }

    #article-image-left {
        position: absolute;
        float: left;
        width: 50%;
    }

}