/* Set CSS rules for the navigation bar for mobile devices. */
@media only screen and (max-width: 600px) {
}

/* Set CSS rules for the navigation bar for desktop devices. */
@media only screen and (min-width: 768px) {
    html, body, #root {
        height: 100%;
    }
    
    /* Always align the footer to the bottom of the page. */
    #root {
        display: flex;
        flex-direction: column;
       }
}